In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import association as aso

In [2]:
# Loading tips dataset
tips = sns.load_dataset("tips")
# Print first five observations
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [3]:
# Convert object columns to Category columns
df = tips.apply(
        lambda x: x.astype("object") if x.dtype == "category" else x)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    object
 3   smoker      244 non-null    object
 4   day         244 non-null    object
 5   time        244 non-null    object
 6   size        244 non-null    int64
dtypes: float64(2), int64(1), object(4)
memory usage: 13.5+ KB

In [7]:
cramers_v = aso.Association(df, "pearson")
cfit = cramers_v.fit().round(2)
cfit

         sex  smoker   day  time
sex     1.00    0.00  0.23  0.20
smoker  0.00    1.00  0.31  0.05
day     0.23    0.31  1.00  0.69
time    0.20    0.05  0.69  1.00